In [1]:
from pyspark import SparkConf, SparkContext
conf = SparkConf().setAppName("Averaging")
sc = SparkContext.getOrCreate(conf=conf)

25/01/26 20:27:02 WARN Utils: Your hostname, Kempslys-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.57 instead (on interface en0)
25/01/26 20:27:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/26 20:27:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
rdd = sc.textFile('movies_rating.csv')

In [3]:
rdd.collect()

['The Shawshank Redemption,3',
 'The Matrix,5',
 '12 Angry Men,3',
 '12 Angry Men,4',
 'The Matrix,5',
 'Pulp Fiction,4',
 'The Godfather,5',
 'The Shawshank Redemption,2',
 'Pulp Fiction,4',
 'The Godfather,5',
 '12 Angry Men,2',
 'The Godfather,3',
 'Pulp Fiction,4',
 '12 Angry Men,1',
 'The Shawshank Redemption,2',
 '12 Angry Men,1',
 'The Shawshank Redemption,5',
 'Pulp Fiction,5',
 'Pulp Fiction,2',
 'The Matrix,4']

In [4]:
rdd2 = rdd.map(lambda x: (x.split(',')[0],   (int(x.split(',')[1]),1)  ))

In [5]:
rdd2.collect()

[('The Shawshank Redemption', (3, 1)),
 ('The Matrix', (5, 1)),
 ('12 Angry Men', (3, 1)),
 ('12 Angry Men', (4, 1)),
 ('The Matrix', (5, 1)),
 ('Pulp Fiction', (4, 1)),
 ('The Godfather', (5, 1)),
 ('The Shawshank Redemption', (2, 1)),
 ('Pulp Fiction', (4, 1)),
 ('The Godfather', (5, 1)),
 ('12 Angry Men', (2, 1)),
 ('The Godfather', (3, 1)),
 ('Pulp Fiction', (4, 1)),
 ('12 Angry Men', (1, 1)),
 ('The Shawshank Redemption', (2, 1)),
 ('12 Angry Men', (1, 1)),
 ('The Shawshank Redemption', (5, 1)),
 ('Pulp Fiction', (5, 1)),
 ('Pulp Fiction', (2, 1)),
 ('The Matrix', (4, 1))]

In [6]:
rdd3 = rdd2.reduceByKey(lambda x,y: (x[0]+y[0], x[1]+y[1]))

In [7]:
rdd3.collect()

[('The Shawshank Redemption', (12, 4)),
 ('12 Angry Men', (11, 5)),
 ('Pulp Fiction', (19, 5)),
 ('The Matrix', (14, 3)),
 ('The Godfather', (13, 3))]

In [8]:
rdd4 = rdd3.map(lambda x: (x[0],x[1][0]/x[1][1]))


rdd4.collect()

[('The Shawshank Redemption', 3.0),
 ('12 Angry Men', 2.2),
 ('Pulp Fiction', 3.8),
 ('The Matrix', 4.666666666666667),
 ('The Godfather', 4.333333333333333)]

# Finding average value for a test dataset

In [9]:
from pyspark import SparkConf, SparkContext
conf = SparkConf().setAppName("TestAverage")
sc = SparkContext.getOrCreate(conf=conf)

In [10]:
rdd = sc.textFile('average_test.csv')

In [12]:
rdd.collect()

['JAN,NY,3.0',
 'JAN,PA,1.0',
 'JAN,NJ,2.0',
 'JAN,CT,4.0',
 'FEB,PA,1.0',
 'FEB,NJ,1.0',
 'FEB,NY,2.0',
 'FEB,VT,1.0',
 'MAR,NJ,2.0',
 'MAR,NY,1.0',
 'MAR,VT,2.0',
 'MAR,PA,3.0']

In [11]:
rdd2 = rdd.map(lambda x: (x.split(',')[0],(float(x.split(',')[2]),1)))

In [13]:
rdd2.collect()

[('JAN', (3.0, 1)),
 ('JAN', (1.0, 1)),
 ('JAN', (2.0, 1)),
 ('JAN', (4.0, 1)),
 ('FEB', (1.0, 1)),
 ('FEB', (1.0, 1)),
 ('FEB', (2.0, 1)),
 ('FEB', (1.0, 1)),
 ('MAR', (2.0, 1)),
 ('MAR', (1.0, 1)),
 ('MAR', (2.0, 1)),
 ('MAR', (3.0, 1))]

In [14]:
rdd3 = rdd2.reduceByKey(lambda x,y: (x[0] + y[0], x[1]+y[1]))

In [15]:
rdd3.collect()

[('JAN', (10.0, 4)), ('FEB', (5.0, 4)), ('MAR', (8.0, 4))]

In [16]:
rdd4 = rdd3.map(lambda x: (x[0],x[1][0]/x[1][1]))

In [17]:
rdd4.collect()

[('JAN', 2.5), ('FEB', 1.25), ('MAR', 2.0)]